/exp_res/movie.mp4
/.vscode/
/.ipynb_checkpoints/
/report/__latexindent_temp.tex
/report/report.aux
/report/report.fdb_latexmk
/report/report.fls
/report/report.log
/report/report.out
/report/report.synctex.gz
/movie.mp4
/p_dist.csv
/x_dist.csv
/y_dist.csv
/z_dist.csv
/t_dist.csv
/v_dist.csv
/physics.xcodeproj/
